h1 {
  font-size: 30px !important;
  padding-top: 30px !important;
  margin-top: 0px !important;
}

h2 {
  font-size: 25px !important;
  margin-top: 0px !important;
}

h3 {
  font-size: 20px !important;
}

p {
  font-size: 18px !important;
}

// text-align center pour toutes les balises ?

h1, h2, h3, p {
  text-align: center !important;
  // max-width: 95vw !important;
}
