<p>Bonjour <%= @user.username %>,</p>

<p>Nous vous remercions de votre inscription chez <%= link_to 'Green Up', root_url %> </p>
<p> Notre but est de réunir des amoureux de la nature qui n'en peuvent plus de voir des endroits magnifiques gâchés par le triste spectacle des décharges sauvages. </p>

<p>N'hésitez pas à parler de Green Up autour de vous et à bientôt sur notre site !</p>

<p> <em> L'équipe Green Up </em> </p>
