// Specific CSS for your home-page
body {
  font-size: 23px;

  h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
  }
}

.banner {
  margin-bottom:0;
  background-image: image-url("greenup.png");
  background-size: cover;
  height: 55vh;

  //video{
  //  min-width: 100%;
  //  min-height: 60vh;
  //  position: relative;
  //  z-index: -100;
  //  padding-bottom: 0;
  //}
  h2 {
    position: absolute;
    font-size: 25px;
    padding: 30px;
    text-align: center;
    top: 95px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
  }
  .btn {
    position: absolute;
    top: 380px;
    color: white;
    background-color: #B22136;
    font-size: 14px;
    padding: 14px 19px;
    margin-bottom: 50px;
    border-radius: 30px;
    right: 100px;
    left: 100px;
  }
}

.questcequegreenup {
  z-index: 2;
  background-image: image-url(pi.png);
  background-size: 130px;
  background-repeat: no-repeat;
  margin: 0;
  font-size: 15px;
  text-align: justify;
  padding: 20px 60px;
  background-position: 210px 50px;
  color: #111C46;
}


.video {
  position: relative;
  margin-top: 20px;
  video {
    height: 31.5vh;
    display: block;
    margin: 0 auto;
    min-width: 100%;
  }
  h3 {
    position: absolute;
    bottom: 55px;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 15px;
    margin: 30px;
    border-radius: 5px;
    color: #B22136;
    font-size: 16px;
  }
}

.handmain {
  font-size: 18px;
  padding-right: 10px;
}

@media screen {
    h1, h2 {
      text-align: center;
    }
}
