// Specific CSS for your home-page
body {
  .justified {
    text-align: justify !important;
  }

  h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
  }
}

.banner {
  position: relative;
  margin-bottom:0;
  background-image: linear-gradient(50deg, #FF512F50, #DD247610), url(greenup.png);
  //background-image: image-url("greenup.png");
  background-size: cover;
  height: 55vh;
  h2 {
    position: absolute;
    padding-top: 70px;
    text-align: center;
    top: 6%;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9)!important;
    text-shadow: 2px 3px 19px black;
    left: 10%;
    right: 10%;
  }

  .btn {
    position: absolute;
    bottom: 10%;
    color: white;
    background: linear-gradient(50deg, #FF512F, #DD2476);
    font-size: 12px;
    text-align: center;
    padding: 15px 18px;
    margin-bottom: 50px;
    border-radius: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.questcequegreenup {
  z-index: 2;
  padding: 20px 60px;

  h3 {
  background: -webkit-linear-gradient(50deg, #FF512F, #DD2476);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
}


.video {
  position: relative;
  margin-top: 20px;
  video {
    height: 31.5vh;
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  h3 {
    position: absolute;
    bottom: 20%;
    right: 0;
    left: 0;
    margin: 10%;
    border-radius: 5px;
    color: white !important;
    text-shadow: 2px 3px 19px black;
  }
}

.handmain {
  font-size: 18px;
  padding-right: 10px;
}

.cta {
  font-size: 15px !important;
}

@media (min-width: 1000px) {
  .sidebar {
    display: none;
  }
}
