.lesevents {
  h1 {
    background: -webkit-linear-gradient(50deg, #FF512F, #DD2476);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  a {
    font-size: auto;
    background: -webkit-linear-gradient(50deg, #FF512F, #DD2476);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;

  }
  .la {
    margin: 20px;
    position: relative;
    box-shadow: 2px 1px 9px rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    img {
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .bodycard {
    .btn {
      margin: 0;
      border: 3px solid #FF512F;
    }
    padding: 0 20px;
    h4 {
      padding: 5px;
      padding-bottom: 20px;
      font-size: 18px;
      padding: 0;
      color: #182761 !important;

    }
    p {
      padding: 0 !important;

    }

    .i {

      padding: 2%;
    }

    p.card-text {
        padding: 10px;
      }
  }
}
