.avatarbanner {
  display: flex;
  justify-content: center;
  align-items:center;
  margin-right: 10px;
  margin-left: 10px;
  height: 150px;
}

.profile-pict {
  width: 80px;
  height: 80px;
  border-radius: 50%;

}

.infos-user {
 display: grid;
 grid-template-columns: 1fr 1fr;
 align-items: center;
 text-align: center;
 // grid-column-gap: 10%;


}

.infos-user .card {
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.05);
  border-radius: 5px;

}

.userprofilhtml {
  background-image: url(stardust.png);
  background-repeat: repeat;
  padding-bottom: 20px;
  h3 {
    background: -webkit-linear-gradient(50deg, #FF512F, #DD2476);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}


.mes-participations {
  color: rgba(178, 33, 54, 0.8);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px 0;
}

.carte {
  padding: 20px !important;
  span {
    font-size: 50px;
    font-weight: bold;
    background: -webkit-linear-gradient(70deg, #ff8c00, #ff0080);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.mes-evenements {
  color: rgba(178, 33, 54, 0.8);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px 0;
  border-right: 3px solid rgba(0, 0, 0, 0.05);
}

.ma-bio {
  // background-color: rgba(178, 33, 54, 0.8);

  // color: rgba(178, 33, 54, 0.8);
  padding: 20px 30px;
  border-radius: 3px;
  font-size: 18px;
  // background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  text-align: center;
  border-radius: 5px;
}

.mes-points {
  width: 55%;
  margin-left: 10px;
  margin-right: 5px;
  font-size: 12px;
}

.truc {
  // background-color: rgba(178, 33, 54, 0.8);
  background: linear-gradient(70deg, #ff8c00, #ff0080);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 3px;
}

.pseudo {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: lighter;
  color: #182761;
}

.bio-user {
  background-color: white;
  margin: 10px auto;
  min-height: 28vh;
  padding: 20px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  p {
    text-align: center;
  }
}


