.avatarbanner {
  background-color: red;
  height: 20vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
}

.profile-pict {
  width: 80px;
  height: 80px;
  border-radius: 50%;

}

.row {

}


.infos-user {
 display: flex;
margin: 0 auto;
}


.card {
 height: 300px;
}


.ma-bio {
  background-color: green;
  width: 35%;
  margin-right: 10px;
  margin-left: 5px;

}


.mes-points {
  background-color: yellow;
  width: 55%;
  margin-left: 10px;
  margin-right: 5px;

}

