
<div class="container">

  <div class="row avatarbanner">
    <%= image_tag "myAvatar.png", class:"profile-pict" %>
  </div>

  <div class="row infos-user">
    <div class="card mes-points">
      <div class="well"><%= @user.username %></div>
      <div class="well">B</div>
      <div class="well">C</div>
    </div>
    <div class="card ma-bio">
      <p>B</p>
    </div>
  </div>
</div>

