
<div class="container">

  <div class="row avatarbanner">
    <div class="col-sm-6"> <%= image_tag @user.avatar, class:"profile-pict" %>
    </div>
    <div class="card mes-points col-sm-6">
      <div class="pseudo">
        <%= @user.username %>
      </div>
      <div class="truc">
        Points : <%= @user.points %>
      </div>
    </div>
  </div>

  <div class="row infos-user">

    <div class="card ma-bio col-sm-12">

    </div>
  </div>
</div>

