<h1>Les évènements</h1>

<% @events.each do |event| %>
  <p> <%= event.location.name %> </p>
  <p> <%= l(event.schedule, format: '%A %e %B %Y') %> </p>
  <p> <%= event.user.username %> </p>
<% end %>
