<div class="lesevents">
  <h1>Liste des collectes</h1>
  <% @events.each do |event| %>
    <div class="card la" >
      <div class="card-img-top">
        <%= cl_image_tag event.location.photo, height: 200, width: 300, crop: :fill %>
      </div>
      <div class="card-body bodycard">
        <h4 class="card-title"><i class="fas fa-map-marked-alt i"></i><%= event.location.name %></h4>
        <p class="card-text"><i class="far fa-calendar-alt i"></i><%= l(event.schedule, format: '%A %e %B %Y') %></p>

        <!-- <a href="#" class="btn center-block btn-success"></i>Voir l'événement</a> -->
        <%= link_to 'Voir l\'événement', event_path(event), class: "btn center-block" %>
      </div>
    </div>
  <% end %>
</div>
