<body>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Quicksand');
  </style>
  <div class="banner">
    <h2>Marre de te promener dans les déchets ?</h2>
    <%= link_to 'Signaler un lieu à nettoyer', locations_path, class: "btn cta hhome" %>
  </div>

  <div class="questcequegreenup">
    <h3>Green Up, c'est quoi ?</h3>
    <p class="justified">Tu te balades et tu vois un tas d'ordures. Ton réflexe : Green Up <br><br>
      Signale l'endroit où tu es sur la carte. Préviens les autres. Regroupez-vous pour le nettoyage.<br><br>C'est un petit pas pour l'homme et un grand pas pour l'environnement.</p>

  </div>

  <% texts = ["Un mouchoir en papier met 3 mois à se dégrader", "Un trognon de pomme met 5 mois à se dégrader", "Une carte téléphonique met 1000 ans à se dégrader", "Un filet de pêche met 600 ans à se dégrader", "Une brique de lait met 5 mois à se dégrader", "De l'huile de vidange met 15 ans à se dégrader", "Un papier de bonbon met 5 ans à se dégrader", "Un journal met 12 mois à se dégrader", "Un ticket de bus met un an à se dégrader"] %>

  <div class="video">

    <h3> <%= texts.sample %> </h3>
    <video autoplay="autoplay" loop muted>
      <source src="<%= asset_path("video.mp4") %>" type="video/mp4">
    </video>
  </div>


</body>
