.nouvelemplacement {
  color: #182761;
  padding: 2%;
  h1 {
    margin: 5px 0 !important;
    padding-bottom: 10px;
    max-width: 100% !important;
    font-size: 22px !important;
    padding: 0 20px;
    background: -webkit-linear-gradient(70deg, #ff8c00, #ff0080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 10px;

  }

  .alert {
    background-color: red;
    font-size: 18px;
    padding: 10px;
  }

  #error_explanation {
    color: red;
    font-size: 15px;
    ul {
      list-style-type: none;

    }
  }

  em {
    margin-left: 22px;
    color: red;
  }

  .checkboxinput {
    input {
      font-size: 15px;
      -webkit-transform: scale(1.6);
      padding-left: 20px;
    }
    label {
      padding-left: 20px;
      color: #182761;
      padding: 10px;
    }

  }

  legend {
    font-size: 18px;
    color: #182761;
  }


  .photocase {
    border: solid 2px black;
  }

  .form-check {
    padding-left: 20px;
  }

  .buttonphoto {
    padding-left: 10px;
    margin: 0;
    input {
      font-size: 10px;
      text-align: center;
      padding-bottom: 20px;
      padding-left: 12%;
      padding-top: 10px;
      margin: 0;

    }

    a {
      color: blue;
    }
    label {
      padding-left: 0;
      color: #182761;
    }
  }


  #location_photo {
    input {
      size: 20px;
    }
  }
}

input#location_photo::-webkit-file-upload-button {
    visibility: hidden;
}

input#location_photo::before {
    color: blue !important;
    content: "Choisir un fichier";
    color: black;
    padding-left: 8px;
}

label {
  color: #182761;
}

//
.checkboxinput {
  .container {
      padding-bottom: 20px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 5px;
  }

  li label {
    font-size: 15px !important;
    font-weight: normal;
  }

  ul.ks-cboxtags {
      list-style: none;
  }
  ul.ks-cboxtags li{

  }
  ul.ks-cboxtags li label{
      background-color: rgba(255, 255, 255, .9);
      border: 2px solid rgba(139, 139, 139, .3);
      color: #adadad;
      border-radius: 25px;
      white-space: nowrap;
      margin: 3px 0px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: transparent;
      transition: all .2s;
  }

  ul.ks-cboxtags li label {
      padding: 8px 12px;
      cursor: pointer;
  }

  ul.ks-cboxtags li label::before {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 12px;
      padding: 2px 6px 2px 2px;
      content: "\f067";
      transition: transform .3s ease-in-out;
  }

  ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
      content: "\f00c";
      transform: rotate(-360deg);
      transition: transform .3s ease-in-out;
  }

  ul.ks-cboxtags li input[type="checkbox"]:checked + label {
      border: 2px solid #DD2476;
      background: linear-gradient(50deg, #FF512F, #DD2476);
      color: white !important;
      transition: all .2s;
  }

  ul.ks-cboxtags li input[type="checkbox"] {
    display: absolute;
  }
  ul.ks-cboxtags li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
  }
  ul.ks-cboxtags li input[type="checkbox"]:focus + label {
    border: 2px solid #e9a1ff;
  }
}


//

.nom {
  .group        {
  position:relative;
  margin-bottom:45px;
}
input         {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #DD335D;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 30px;
}
input:focus     { outline:none; }

/* LABEL ======================================= */
label          {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label    {
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar  { position:relative; display:block; width:300px; }
.bar:before, .bar:after   {
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#FF512F;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
}
