.footer {
  background-color: #111C46;
  color: white;
  font-size: 12px;
  padding: 5px;
  margin-top: 0px;
  height: $footerheight;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    margin: 0 !important;
  }
}
