// RAJOUTER MEDIA QUERIES

#map {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#addlocationbutton {
  position: absolute;
  bottom: 5%;
  left: 40%;
  right: 40%;
  border-radius: 50%;
  background-color: rgba(24, 39, 97, 0.8);
  color: white;
  font-size: 32px;
  height: 60px;
  width: 60px;
  text-align: center;
  z-index: 2;
  padding: 2%;
}

#addlocationbutton:hover {
  text-decoration: none;
  background-color: rgba(24, 39, 97, 0.5);
  color: rgba(24, 39, 97, 0.8);
}

// .mapboxgl-ctrl-geocoder {
//   position:absolute;
//   z-index:1;
//   width:50%;
//   left:50%;
//   margin-left:-25%;
//   top:20px;
// }

.geocoder {
  position:absolute;
  z-index:1;
  // width:50%;
  // left:50%;
  // margin-left:-34%;
  top: 13%;
}

.mapboxgl-ctrl-geocoder {
  height: 55px;
  min-width: 90vw !important;
  margin-left: 21px; // media query

  input[type='text'] {
    font-size: 18px !important;
    height: 56px !important;
  }
}

.mapboxgl-ctrl-geocoder .geocoder-icon-search {
    position: absolute;
    top: 18px !important; // media query
    left: 10px; // media query
}

.mapboxgl-popup-content {
  padding: 6px 12px !important;
  max-width: 250px;
  border: solid 1px #05115A;
  border-radius: 8px !important;
  /* color: #05115A; */
  opacity: 0.9;
  h2 {
    margin: 2px 0px 8px 0px !important;
    line-height: 0.7 !important;
  }
  p {
    margin: 5px 10px;
    color: #05115A;
  }

  a {
    color: #05115A;
  }
}

