.main-container .rejoindre {
  padding: 0 20px;
  background-image: url(stardust.png);
  background-repeat: repeat;
  padding-bottom: 10px;
  height: 86vh;
  h6, em, h3 {
    text-align: left !important;
  }
  h1 {
    background: -webkit-linear-gradient(50deg, #FF512F, #DD2476);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
