.lieu {
  background-image: image-url("stardust.png");
  background-repeat: repeat;
  padding-bottom: 10px;
  position: relative;
  img {
    opacity: 0.8;
    z-index: 1;
    width: 100%;
  }
  h1 {
    position: absolute;
    top: 10px;
    padding: 0 10px;
    color: rgba(255, 255, 255, 0.9) !important;
    font-weight: bold;
    z-index: 3;
    text-shadow: 1px 1px 2px black;
    right: 0;
    left: 0;
  }
}

.backimg {
  background-size: cover;
  height: 270px;

}

.bodylieu {
  background-size: cover;
  padding: 0 20px;

  h2 {
    text-align: left;

  }
  img {
    max-width: 100%;
    opacity: 0.8;
    background-color: red;
  }
}

//

#i-have-a-tooltip {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 20px;
  padding: 5%;
  margin: 5% auto;
  background: white;
  border-radius: 5px;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.05);
}

.btn-lieu {
  margin-top: 30px;
  background: linear-gradient(50deg, #FF512F, #DD2476);
  color: white;
  padding: 10px 20px;
  font-size: 17px;
}

.btn-lieu:hover {
  margin-top: 30px;
  background: linear-gradient(50deg, #FF512F, #DD2476);
  color: white;
}
