<div class="nouvelemplacement">
  <h1>Signaler un nouvel emplacement </h1>

  <p style="font-size: 16px; text-align: center"> <em> NB: veuillez autoriser votre position </em> </p>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
